@import "tailwindcss";


@theme {
    --color-brown-light: #F3D5B5;
    --color-brown-mid: #efceab;
    --color-brown-mid2: #eccaa5;
    --color-brown-soft: #9c6644;
    --color-brown-soft2: #99582a;
    --color-brown-dark:  #432818;
    --color-brown-dark2: #352208;
}

@import "./globals.css";
